sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
{{- if stdinIsATTY }}
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}
    github_user = {{ promptStringOnce . "github_user" "GitHub username" | quote }}
{{- else }}
    name = {{ .name | default "Joseph T. Herrmann, M.D." | quote }}
    email = {{ .email | default "joeherrmann@gmail.com" | quote }}
    github_user = {{ .github_user | default "Jobikinobi" | quote }}
{{- end }}
