sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
{{- if stdinIsATTY }}
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}
    github_user = {{ promptStringOnce . "github_user" "GitHub username" | quote }}
{{- else }}
    name = "Joseph T. Herrmann, M.D."
    email = "joeherrmann@gmail.com"
    github_user = "Jobikinobi"
{{- end }}
