sourceDir = "{{ .chezmoi.sourceDir }}"
encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1l2n5sqj8eg0728vlj6che0vas474svdxej2ceypr6046z5ylwqusr00mzj"

[data]
{{- if stdinIsATTY }}
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}
    github_user = {{ promptStringOnce . "github_user" "GitHub username" | quote }}
{{- else }}
    name = "Joseph T. Herrmann, M.D."
    email = "joeherrmann@gmail.com"
    github_user = "Jobikinobi"
{{- end }}
