{{ if eq .chezmoi.os "darwin" -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Include /Users/jth/.colima/ssh_config

{{ end -}}
Host hole-dev do.theholetruth.org
	HostName do.theholetruth.org
	User joe
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host hole-dev-root do.theholetruth.org-root
	HostName do.theholetruth.org
	User root
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host foia-scraper
	HostName 143.244.152.147
	User root
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host mac-mini
	HostName mac-mini
	User jth
	IdentityFile ~/.ssh/mac-mini
	IdentityAgent none
	StrictHostKeyChecking accept-new
	UserKnownHostsFile ~/.ssh/known_hosts_tailnet

Host mac-mini-lan
	HostName 192.168.68.68
	User jth
	IdentityFile ~/.ssh/mac-mini
	IdentityAgent none

{{ if eq .chezmoi.os "darwin" -}}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
